<%= form_for @wish, :html => { multipart: true } do |f| %>
  <% if @wish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish.errors.count, "error") %> prohibited this wish from being saved:</h2>

      <ul>
        <% @wish.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :skills do |skills_fields| %>
    <div class="field">
      <%= skills_fields.label "Skill" %><br>
      <%= skills_fields.text_field :name %>
    </div>
  <% end %>

  <%= f.fields_for :location do |location_fields| %>
    <div class="field">
      <%= location_fields.label :address %><br>
      <%= location_fields.text_area :address %>
    </div>
  <% end %>

  <%= f.label :images %>
  <%= file_field_tag "photos[]", type: :file, multiple: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
