<div class="media">
  <div class="media-left">
    <% if wish.images.exists? %>
      <%= image_tag wish.images.first.photo.url(:thumb), class: "media-object" %>
    <% end %>
    <div class="text-center">
      <%= link_to(like_wish_path(wish), { method: :put }) do %>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      <% end %>
      <%= wish.score %>
      <%= link_to(dislike_wish_path(wish), { method: :put }) do %>
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>

  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to wish.title, wish %>
      <% if current_user == wish.user %>
        <small>
          <%= link_to edit_wish_path(wish) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to wish, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </small>
      <% end %>
    </h4>
    <% if wish.tools.first.name.present? %>
      <span class="glyphicon glyphicon-wrench"></span>
      <% wish.tools.each do |tool| %>
        <span class="label label-default"><%= tool.name %></span>
      <% end %>
    <% end %>
    <% if wish.skills.first.name.present? %>
      <span class="glyphicon glyphicon-education"></span>
      <% wish.skills.each do |skill| %>
        <span class="label label-default"><%= skill.name %></span>
      <% end %>
    <% end %>
    <p><%= wish.description %></p>
    <p>
      submitted <%= time_ago_in_words(wish.created_at) %> ago by <%= link_to wish.user.username, "#" %>
    <% if wish.location.latitude.present? and wish.location.longitude.present? %>
      around <%= number_to_human(1000 * wish.location.distance_to([@location.latitude,@location.longitude]), units: :distance, precision: 2, delimiter: ",") %> away
    <% end %>
    </p>
  </div>
</div>
