<h1>Wishing Well</h1>

<% @wishes.each do |wish| %>
  <div class="media">
    <div class="media-left">
      <% if wish.images.exists? %>
        <%= image_tag wish.images.first.photo.url(:thumb), class: "media-object" %>
      <% end %>
      <div class="text-center">
        <%= link_to(like_wish_path(wish), { method: :put }) do %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <% end %>
        <%= wish.score %>
        <%= link_to(dislike_wish_path(wish), { method: :put }) do %>
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>

    <div class="media-body">
      <h4 class="media-heading"><%= link_to wish.title, wish %></h4>
      <p class="small">submitted <%= time_ago_in_words(wish.created_at) %> ago by <%= wish.user.username %></p>

      <p><%= wish.description %></p>

      <% if !wish.location.blank? %>
        <p>
          <%= wish.location.distance_to([
          @location.latitude,
          @location.longitude]) %>
        </p>
      <% end %>
      <% binding.pry %>

      <% wish.skills.each do |skill| %>
        <p><%= skill.name %></p>
      <% end %>

      <% wish.tools.each do |tool| %>
        <p><%= tool.name %></p>
      <% end %>

      <ul>
        <li><%= link_to 'Edit', edit_wish_path(wish) %></li>
        <li><%= link_to 'Destroy', wish, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
<% end %>
