<h1>Wishing Well</h1>

<% @wishes.each do |wish| %>
  <div class="media">
    <div class="media-left">
      <% if wish.images.exists? %>
        <%= image_tag wish.images.first.photo.url(:thumb), class: "media-object" %>
      <% end %>
      <div class="text-center">
        <%= link_to(like_wish_path(wish), { method: :put }) do %>
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <% end %>
        <%= wish.score %>
        <%= link_to(dislike_wish_path(wish), { method: :put }) do %>
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>

    <div class="media-body">
      <h4 class="media-heading"><%= link_to wish.title, wish %></h4>
      <% if current_user == wish.user %>
        <small>
          <%= link_to 'Edit', edit_wish_path(wish) %>
          <%= link_to 'Delete', wish, method: :delete, data: { confirm: 'Are you sure?' } %>
        </small>
      <% end %>
      <p class="small">submitted <%= time_ago_in_words(wish.created_at) %> ago by <%= wish.user.username %></p>

      <p><%= wish.description %></p>

      <% if wish.location.latitude.present? and wish.location.longitude.present? %>
        <p>
          <%= number_to_human(1000 * wish.location.distance_to([@location.latitude,@location.longitude]),
              units: :distance,
              precision: 2,
              delimiter: ",") %>
        </p>
      <% end %>

      <% wish.skills.each do |skill| %>
        <p><%= skill.name %></p>
      <% end %>

      <% wish.tools.each do |tool| %>
        <p><%= tool.name %></p>
      <% end %>
    </div>
  </div>
<% end %>
