<p id="notice"><%= notice %></p>

<p>
<strong>Title:</strong>
<%= @wish.title %>
</p>

<p>
<strong>Description:</strong>
<%= @wish.description %>
</p>

<p>
<strong>Address:</strong>
<%= @wish.location.address %>
</p>

<p>
<strong>Latitude:</strong>
<%= @wish.location.latitude %>
</p>

<p>
<strong>Longitude:</strong>
<%= @wish.location.longitude %>
</p>

<p>
<strong>Skills:</strong>
<% @wish.skills.each do |skill| %>
  <%= skill.name %>
<% end %>
</p>

<p>
<strong>Tools:</strong>
<% @wish.tools.each do |tool| %>
  <%= tool.name %>
<% end %>
</p>

<p>
<strong>Pictures:</strong>
</p>
<% @wish.images.each do |image| %>
  <p><%= link_to image_tag(image.photo.url(:medium)), image.photo.url %></p>
<% end %>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
