<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wish.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @wish.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @wish.location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @wish.location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @wish.location.longitude %>
</p>
<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>
